<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>makersbnb</title>
    <link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../css/calendar.css">
    <script src="../js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../js/calendar.js"></script>

   <script src="../css/components/visibility.js"></script>
   <script src="../css/components/sidebar.js"></script>
   <script src="../css/components/transition.js"></script>

   <script>
   $(document)
     .ready(function() {

       $('#rangestart').calendar({
         type: 'date',
         endCalendar: $('#rangeend'),
         formatter: {
           date: function (date, settings) {
             if (!date) return '';
             var day = date.getDate();
             var month = date.getMonth() + 1;
             var year = date.getFullYear();
             return year + '-' + month + '-' + day;
           }
         }
       });
       $('#rangeend').calendar({
         type: 'date',
         startCalendar: $('#rangestart'),
         formatter: {
           date: function (date, settings) {
             if (!date) return '';
             var day = date.getDate();
             var month = date.getMonth() + 1;
             var year = date.getFullYear();
             return year + '-' + month + '-' + day;
           }
         }
       });

     })
   ;
   </script>

  </head>
  <body>

    <!-- Page Contents -->
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a href=""><img src="../images/logo.png" alt="makersbnb" width="40px" height="40px" id="logo" /></a>
            <% if session[:user_name] %>
            <%= "Welcome #{session[:user_name]}" %>
            <% end %>
            <div class="right item">
              <a href="/" id="home-menu-item" class="item"><i class="home icon"></i> Home</a>
              <% if session[:user_name] %>
                <a href="/rooms/new" id="add-room-menu-item" class="item"><i class="add icon"></i> Add a room</a>
                <a href="/bookings/new" id="reserve-room-menu-item" class="item"><i class="calendar outline icon"></i> Book a room</a>
                <form id="myHiddenFormId" action="/sessions/destroy" method="post">
                  <input type="hidden" name="myParameterName" value="myParameterValue">
                  <button class="ui button" type="submit" id="submit-button"><i class="calendar sign out icon"></i> Sign-out</button>
                </form>
              <% end %>
              <% if !session[:user_name] %>
                <a href="/users/new" id="sign-up-item" class="item"><i class="user icon"></i> Sign up</a>
                <a href="/sessions/new" id="sign-in-item" class="item"><i class="sign in alternate icon"></i> Sign in</a>
              <% end %>
            </div>
            <!-- <div class="right item">
              <a class="ui inverted button">Log in</a>
            </div> -->
          </div>
        </div>
