<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>makersbnb</title>
    <link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <link rel="stylesheet" type="text/css" href="../css/calendar.css">
    <script src="../js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../js/calendar.js"></script>

   <script src="../css/components/visibility.js"></script>
   <script src="../css/components/sidebar.js"></script>
   <script src="../css/components/transition.js"></script>

   <script>
   $(document)
     .ready(function() {

       // fix menu when passed
       $('.masthead')
         .visibility({
           once: false,
           onBottomPassed: function() {
             $('.fixed.menu').transition('fade in');
           },
           onBottomPassedReverse: function() {
             $('.fixed.menu').transition('fade out');
           }
         })
       ;

       // create sidebar and attach to menu open
       $('.ui.sidebar')
         .sidebar('attach events', '.toc.item')
       ;

       $('#rangestart').calendar({
         type: 'date',
         endCalendar: $('#rangeend')
       });
       $('#rangeend').calendar({
         type: 'date',
         startCalendar: $('#rangestart')
       });


     })
   ;
   </script>

  </head>
  <body>

    <!-- Page Contents -->
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a href=""><img src="../images/logo.png" alt="makersbnb" width="40px" height="40px" id="logo" /></a>
            <div class="right item">
              <a href="/" id="home-menu-item" class="item"><i class="home icon"></i> Home</a>
              <a href="/rooms/new" id="add-room-menu-item" class="item"><i class="add icon"></i> Add a room</a>
              <a href="/bookings/new" id="reserve-room-menu-item" class="item"><i class="calendar outline icon"></i> Book a room</a>
            </div>
            <!-- <div class="right item">
              <a class="ui inverted button">Log in</a>
            </div> -->
          </div>
        </div>
